.signin-section {
    background-color: #e2fdf8;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
  }
  
  .ant-btn-primary {
    background-color: #4a8fe7;
    border-color: #4a8fe7;
  }
  
  .signup-link {
    color: #4a8fe7;
  }

  .Paper {
    padding: 20px;
    width: 500px;  /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin: auto;
    
  }

  .sectionContainer {
    display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  top: 50%;
  bottom: 50%;
  }
  