.home {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.description {
    text-align: right;
    font-size: 18px !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.features {
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.tech-stack {
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.snap {
    scroll-snap-align: start;
    height: 100vh;
}

.sep {
    margin-bottom: 140px;
}

.intro {
    text-align: center;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-image {
    width: 'auto' !important; /* adjust as needed */
    height: 480px !important; /* adjust as needed */
    padding: 5px;
}

.intro-image2 {
    width: 500px !important; /* adjust as needed */
    height: 'auto' !important; /* adjust as needed */
    padding: 5px;
}
.image-container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10;
}

.image {
    width: 100px;  /* Adjust as needed */
    height: 100px; /* Adjust as needed */
}



.title {
    color: #444;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-size: 70px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.contact {
    text-align: right;
    font-size: 18px !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.acknowledgements {
    font-size: 18px !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.subtitle {
    color: #666;
    font-size: 60px !important;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.description, .contact, .acknowledgements {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.features {
    list-style-type: none;
    padding-left: 0;
}

.features li {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    width: 45%; /* or whatever width you want */
}

.right {
    float: right;
}