.throbbing {
    display: inline;
  }
  
  .offscreen {
    display: none;
  }

  .imageRenderer {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .ant-btn-primary {
    background-color: #4a8fe7;
    border-color: #4a8fe7;
  }

  .albumField {
    padding-top: 10px;
  }