.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.logo {
  width: 100px;
  height: 100px;
  top: 12.5px;
  left: 50%;
  right: 50%;
}

.menu {
  z-index: 2;
  left: 34px;
  top: 34px;
}

.overlay {
  position: absolute;
  z-index: 1;
}

.sider {
  background-color: #c9e4ca !important; /* replace #yourColorHere with your color */
}


.rectangle {
  width: 100%;
  height: 122px;
  background: #e2fdf8;
}

.topbar {
  background-color: #e2fdf8 !important;
  height: 122px;
  border: 1px solid #505050 !important;
}

.underlay {
  position: absolute;
  z-index: 0;
  top: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
